:root {
  --color-background: #fcfcfc;
  --color-background-secondary: #f3f3f3;
  --color-foreground: #ffffff;
  --color-border: #e6e6e6;
  --color-text-header: #444444;
  --color-text-body: #6f6f6f;
  --color-text-secondary: #717171;
  --color-text-invert: #ffffff;
  --color-text-link: #4ec3f5;
  --color-branding: #7193FF; /* PERIWINKLE */
  --color-branding-transparent: #7193FF40;
  
  --color-background-1: #f7f7f7;
  --color-background-secondary-1: #f0f0f0;
  --color-foreground-1: #ffffff;
  --color-border-1: #0079d3;
  --color-text-header-1: #1a1a1b;
  --color-text-body-1: #6f6f6f;
  --color-text-secondary-1: #717171;
  --color-text-invert-1: #ffffff;
  --color-text-link-1: #4ec3f5;
  --color-branding-1: #FEB331; /* Mango */
  --color-branding-transparent-1: #FEB33140;
  --color-on-hover-1: #005ea1;

  --color-text-link-2: #4ec3f5;
  --color-branding-2: #14D8C3; /* Mango */
  --color-branding-transparent-2: #14D8C340;
  
  --color-text-link-3: #4ec3f5;
  --color-branding-3: #FF99AA; /* SAKURA */
  --color-branding-transparent-3: #FF99AA40;

  --color-text-link-4: #4ec3f5;
  --color-branding-4: #EAD49D; /* HEDGEHOG */
  --color-branding-transparent-4: #EAD49D40;

  --color-text-link-5: #4ec3f5;
  --color-branding-5: #FFF1B6; /* LEMONADE */
  --color-branding-transparent-5: #FFF1B640;

  --color-text-link-6: #4ec3f5;
  --color-branding-6: #1B2426; /* ORCA */
  --color-branding-transparent-6: #1B242640;

  --color-alert: #ff304f;
  --color-success: #45b81f;
  --color-on-hover: #0000000f;

  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  --box-shadow-hover: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;

  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 36px;
  --spacing-5: 64px;

  --radius: 4px;
  --radius-2: 8px;

  --raduis-btn: 50px
}

html,
body {
  background: var(--color-background);
  color: var(--color-text-body);
}

p {
  margin: 0;
}
