:root {
  --color-background: #fcfcfc;
  --color-background-secondary: #f3f3f3;
  --color-foreground: #ffffff;
  --color-border: #e6e6e6;
  --color-text-header: #444444;
  --color-text-body: #6f6f6f;
  --color-text-secondary: #717171;
  --color-text-invert: #ffffff;
  --color-text-link: #4ec3f5;
  --color-branding: #3d5af1;
  --color-branding-transparent: #3d5af140;

  --color-alert: #ff304f;
  --color-success: #45b81f;
  --color-on-hover: #0000000f;

  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  --box-shadow-hover: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;

  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 36px;
  --spacing-5: 64px;

  --radius: 4px;
  --radius-2: 8px;
}

html,
body {
  background: var(--color-background);
  color: var(--color-text-body);
}

p {
  margin: 0;
}
html,
body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #dae0e6;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #dae0e6;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FF4500;
  padding: 10px;
}

.reddit-logo {
  height: 50px;
  margin-left: 20px;
}

.search-container {
  position: relative;
  display: inline-block;
}

.search-container input[type="text"] {
  width: 300px;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.search-container input[type="text"]:focus {
  outline: none;
  border-color: #0079d3;
  box-shadow: 0 0 5px #0079d3;
}

.search-container::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../../media/search-icon.png);
  background-size: cover;
}

.search-container {
  margin-right: 20px;
}

label {
  display: inline-block;
  margin-right: 10px;
  color: white;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button[type="submit"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: #ff4500;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ff4500;
  color: white;
}

.articles-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 215px);
  grid-gap: 16px;
  justify-content: center;
  background-color: #f2f2f2;
  padding-bottom: 48px;
}

.current-article-container {
  padding: 24px 16px 32px 16px;
}

.comments-container {
  padding: 0 16px 0 16px;
}

.article-container {
  cursor: pointer;
  border-radius: 6px;
  border: solid 1px #141c3a;}