/* General Styles */

html,
body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

/* Header Styles */

header {
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  height: 60px;
}

header.head {
  background-color: #f7f7f7;
  border-bottom: 1px solid #c7c7cc;
}

.reddit-logo {
  height: 30px;
  margin-left: 20px;
}
.search-bar-container {
  display: contents;
}
.search-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 2em;
  background-color: #f0f0f0;
  font-size: 16px;
  font-weight: normal;
  color: #1a1a1b;
}

.search-container input[type="text"]:focus {
  outline: none;
  border-color: #0079d3;
  box-shadow: 0 0 3px #0079d3;
  z-index: 2;
}

.search-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(../../media/search-icon.png);
  background-size: cover;
  z-index: 1;
}

.search-button {
  margin-left: 20px;
  padding: 10px;
  border-radius: 2em;
  background-color: #0079d3;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #005ea1;
}

@media only screen and (max-width: 768px) {
  header {
    height: 50px;
  }
  
  .reddit-logo {
    height: 25px;
    margin-bottom: 1rem;
  }
  
  .search-container input[type="text"] {
    padding: 8px;
    font-size: 14px;
  }
  
  .search-container::before {
    width: 16px;
    height: 16px;
  }
  
  .search-button {
    padding: 8px;
    font-size: 14px;
  }
}
.header-container {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  flex-direction: row;
  align-items: flex-start;
}

.reddit-logo {  
  height: 60px;
  width: auto;
}

.search-container {
  position: relative;
}

@media screen and (max-width: 576px) {
  .search-container {
    margin-top: none;
    width: 100%;
  }
  .search-container input[type="text"] {
    border-radius: 2em 0 0 50px;
  }
  .search-button { 
    width: 35%;
    margin-left: none;
    border-radius: 0 2em 2em 0;
  }
  .search-bar-container {
    display: flex;
    justify-content: space-around;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .reddit-logo {
    width: 75px;
    text-align: center;
    display: block;
    margin-left: none;
  }
}